.auth-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(145deg, var(--light-green) 0%, var(--dark-green) 100%);
    padding: 24px;
}

.auth-logo {
    display: block;
    width: auto;
    height: 80px;
    margin: 0 auto 5px auto;
}

.auth-form {
    width: 100%;
    max-width: 380px;
    padding: 32px;
    background-color: var(--content-bg);
    border-radius: 8px;
    border: 1px solid var(--border-color-base);
    box-shadow: var(--card-shadow);
}

.auth-title {
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 32px;
    font-weight: 600;
}

.switch-auth-link {
    margin-top: 16px;
    text-align: center;
    color: var(--text-color-secondary);

    a {
        font-weight: bold;
        color: var(--link-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}