<div class="auth-page-container">
    <form nz-form [formGroup]="loginForm" class="auth-form" (ngSubmit)="submitForm()">
        <h1 class="auth-title">Gem Log - Login</h1>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button class="auth-form-button" [nzType]="'primary'" [disabled]="loginForm.invalid">Log in</button>
        <div class="switch-auth-link">
            Don't have an account? <a routerLink="/auth/signup">Register now!</a>
        </div>
    </form>
</div>