<div class="page-container" [formGroup]="priceForm">
    <nz-card class="log-form-card" [nzTitle]="'Manage Price'" [nzExtra]="extra">
        <nz-spin [nzSpinning]="isLoading">
            <div class="log-table-container">
                <nz-table #priceTable [nzFrontPagination]="false" [nzShowPagination]="false" nzBordered
                    class="log-table" [nzTemplateMode]="true">
                    <thead>
                        <tr>
                            <th [nzWidth]="'35%'">Weight</th>
                            <th [nzWidth]="'35%'">Sieve</th>
                            <th [nzWidth]="'30%'">Price</th>
                            <th nzAlign="center">Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="tiers">
                        <tr *ngFor="let tier of tiers.controls; let i = index" [formGroupName]="i">
                            <td>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip>
                                        <nz-input-number class="w-full rounded-border-important"
                                            formControlName="weight" [nzPlaceHolder]="'Weight'"
                                            [nzMin]="0"></nz-input-number>
                                    </nz-form-control>
                                </nz-form-item>
                            </td>
                            <td>
                                <nz-form-item>
                                    <nz-form-control>
                                        <nz-input-number class="w-full rounded-border-important" formControlName="sieve"
                                            [nzPlaceHolder]="'Sieve'" [nzMin]="0"></nz-input-number>
                                    </nz-form-control>
                                </nz-form-item>
                            </td>
                            <td>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip>
                                        <span class="w-full" *ngIf="tier.get('id')?.value">
                                            {{ tier.get('price')?.value | currency:'INR' }}
                                        </span>
                                        <nz-input-number *ngIf="!tier.get('id')?.value"
                                            class="w-full rounded-border-important" formControlName="price"
                                            [nzPlaceHolder]="'Price'" [nzMin]="0"></nz-input-number>
                                    </nz-form-control>
                                </nz-form-item>
                            </td>
                            <td nzAlign="center">
                                <button nz-button nzType="text" nzDanger (click)="archiveTier(i)">
                                    <i nz-icon nzType="delete"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

            <div class="totals-footer">
                <button nz-button nzType="primary" *ngIf="tiers.length > 0" (click)="submitForm()"
                    class="submit rounded-border-important" [disabled]="priceForm.invalid">
                    <i nz-icon nzType="save"></i> Save
                </button>
            </div>
        </nz-spin>
    </nz-card>
</div>

<ng-template #extra>
    <div class="header-actions">
        <button nz-button nzType="default" (click)="addNewTierRow()">
            <i nz-icon nzType="plus"></i> Add New Tier
        </button>
    </div>
</ng-template>