.app-layout {
    height: 100%;
    background-color: var(--layout-bg);
}

.header-logo-icon {
    height: 30px;
    width: auto;
}

.app-header-logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.app-title {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

/* --- Header for Mobile --- */
.app-header {
    background: var(--content-bg);
    border-bottom: 1px solid var(--border-color-base);
    display: flex;
    align-items: center;
    padding: 0 24px;
    gap: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;


    .trigger {
        color: var(--text-color);
    }
}

/* --- Sider for Desktop --- */
.desktop-sider {
    // The sider's theme is set by nzTheme="light", but we can override the border.
    border-right: 1px solid var(--border-color-base);
}

.logo {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        color: var(--logo-color);
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }
}

/* --- Content Areas --- */
.app-content {
    // Mobile
    padding: 8px;
    padding-bottom: 70px;
    overflow: auto;
}

.app-content-desktop {
    background: var(--content-bg);
    padding: 24px;
    margin: 16px;
    border-radius: 4px;
    height: calc(100vh - 32px);
    overflow: auto;
}

/* --- Drawer Styles --- */
.drawer-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .drawer-logo-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

:host ::ng-deep .ant-drawer-body {
    padding: 0;
}

:host ::ng-deep .ant-drawer-body .ant-menu {
    padding-top: 16px;
}