<div class="page-container">
    <nz-card class="log-form-card" [nzTitle]="isEditMode ? 'EDIT_LOG' : 'ADD_LOG' | translate" [nzExtra]="datePicker">
        <nz-spin [nzSpinning]="isLoading">
            <div [formGroup]="logForm" class="log-table-container">
                <nz-table #logTable nzSize="small" [nzFrontPagination]="false" [nzShowPagination]="false"
                    [nzBordered]="true" class="log-table" [nzTemplateMode]="true">
                    <thead>
                        <tr>
                            <th [nzWidth]="'60px'">{{ 'WEIGHT' | translate }} <br /> {{ 'SIEVE' |
                                translate }}</th>
                            <th class="text-right" [nzWidth]="'70px'">{{ 'PRICE' | translate }}</th>
                            <th>{{ 'DIAMOND' | translate }}</th>
                            <th class="text-right">{{ 'SUBTOTAL' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="entries">
                        <tr *ngFor="let control of entries.controls; let i = index" [formGroupName]="i">
                            <td [ngClass]="{'archived-tier': priceTiers[i].isArchived}">
                                <strong>{{ priceTiers[i].weight }}</strong>
                                <span *ngIf="priceTiers[i].sieve">-{{ priceTiers[i].sieve }}</span>
                            </td>
                            <td [ngClass]="{'archived-tier': priceTiers[i].isArchived}" class="text-right">{{
                                priceTiers[i].price | currency:'INR' }}</td>
                            <td [ngClass]="{'archived-tier': priceTiers[i].isArchived}">
                                <nz-form-item>
                                    <nz-form-control>
                                        <nz-input-number class="w-full rounded-border-important" formControlName="count"
                                            [nzMin]="0" [nzPlaceHolder]="'DIAMOND' | translate"></nz-input-number>
                                    </nz-form-control>
                                </nz-form-item>
                            </td>
                            <td [ngClass]="{'archived-tier': priceTiers[i].isArchived}" class="text-right">
                                <strong>
                                    {{ ((control.value.count || 0) * (priceTiers[i].price || 0)) | currency:'INR' }}
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

            <div class="totals-footer">
                <div class="total-item">
                    {{ 'TOTAL_DIAMONDS' | translate }}: <strong>{{ totalDiamonds | number }}</strong>
                </div>
                <div class="total-item income">
                    {{ 'DAILY_INCOME' | translate }}: <strong>{{ totalIncome | currency:'INR' }}</strong>
                </div>
                <button nz-button nzType="primary" (click)="submitForm()" class="submit rounded-border-important"
                    [disabled]="logForm.invalid">
                    <i nz-icon nzType="save"></i> {{ 'SAVE' | translate }}
                </button>
            </div>
        </nz-spin>
    </nz-card>
    <ng-template #datePicker>
        <div class="card-extra-controls">
            <button nz-button (click)="changeDay(-1)" nzSize="large"><i nz-icon nzType="left"></i></button>
            <nz-date-picker [(ngModel)]="logDate" nzSize="large" (ngModelChange)="onDateChange()"
                [nzAllowClear]="false">
            </nz-date-picker>
            <button nz-button (click)="changeDay(1)" nzSize="large"><i nz-icon nzType="right"></i></button>
        </div>
    </ng-template>
</div>