<div class="page-container">
    <nz-card class="log-form-card" [nzTitle]="isEditMode ? 'Edit Log' : 'Add New Log'" [nzExtra]="datePicker">
        <nz-spin [nzSpinning]="isLoading">
            <div [formGroup]="logForm" class="log-table-container">
                <nz-table #logTable nzSize="small" [nzFrontPagination]="false" [nzShowPagination]="false"
                    [nzBordered]="true" class="log-table" [nzData]="priceTiers">
                    <thead>
                        <tr>
                            <th [nzWidth]="'60px'">Weight <br /> Sieve</th>
                            <th class="text-right" [nzWidth]="'70px'">Price</th>
                            <th>Diamond</th>
                            <th class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="entries">
                        <tr *ngFor="let control of entries.controls; let i = index" [formGroupName]="i">
                            <td>
                                <strong>{{ priceTiers[i].weight }}</strong>
                                <span *ngIf="priceTiers[i].sieve">-{{ priceTiers[i].sieve }}</span>
                            </td>
                            <td class="text-right">{{ priceTiers[i].price | currency:'INR' }}</td>
                            <td>
                                <nz-form-item>
                                    <nz-form-control>
                                        <nz-input-number class="w-full" formControlName="count"
                                            [nzMin]="0"></nz-input-number>
                                    </nz-form-control>
                                </nz-form-item>
                            </td>
                            <td class="text-right">
                                <strong>
                                    {{ ((control.value.count || 0) * (priceTiers[i].price || 0)) | currency:'INR' }}
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

            <div class="totals-footer">
                <div class="total-item">
                    Total Diamonds: <strong>{{ totalDiamonds | number }}</strong>
                </div>
                <div class="total-item income">
                    Total Income: <strong>{{ totalIncome | currency:'INR' }}</strong>
                </div>
                <button nz-button nzType="primary" (click)="submitForm()" class="submit" [disabled]="logForm.invalid">
                    <i nz-icon nzType="save"></i> Save
                </button>
            </div>
        </nz-spin>
    </nz-card>
    <ng-template #datePicker>
        <nz-date-picker [(ngModel)]="logDate" (ngModelChange)="onDateChange()" [nzAllowClear]="false">
        </nz-date-picker>
    </ng-template>
</div>