.page-container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.data-card {
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    border: 1px solid var(--border-color-base);
    height: 100%;
    overflow: auto;
}

:host ::ng-deep {
    .ant-card-head {
        padding: 8px;
        border-bottom-color: var(--border-color-split) !important;

        .ant-card-head-wrapper,
        .ant-card-head-title,
        .ant-card-extra {
            align-items: center;
        }

    }

    .ant-card-body,
    .ant-card-extra,
    .ant-card-head-title {
        padding: 8px;
    }

}

.card-extra-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

:host ::ng-deep .ant-table {
    th {
        font-weight: 600;

        small {
            font-weight: normal;
            color: var(--text-color-secondary);
        }

        &.archived-tier {
            background-color: #ff4d4f1a;
        }
    }


    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }
}

:host ::ng-deep .log-table {

    .ant-table-thead>tr>th {
        padding: 8px;

    }

    .ant-table-tbody>tr>td {
        padding: 8px;

        &.archived-tier {
            background-color: #ff4d4f1a;
        }
    }
}

.font-1rm {
    font-size: 1rem;
}

.total-income {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-green);
}

.totals-footer {
    padding: 12px 8px;
    border-top: 1px solid var(--border-color-split);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-secondary);

    strong {
        font-size: 18px;
        color: var(--heading-color);
    }

    .income strong {
        color: var(--primary-green);
    }
}